@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-y: hidden;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
    
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;

}
header ul li a:hover{
    color: #017143;
    text-decoration:underline;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20PX;
    padding: 8PX 20PX;
    background: #017143;
    color: #fff;
    font-weight: 500;
    border-radius: 40PX;
    text-decoration: none;
}
.content .textBox a:hover{
    box-shadow: 10px 10px 50px 10px #017143;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 50px;
}
.content .imgBox img{
    max-width: 342px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    margin: 10px;
   
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
   text-decoration: none;
   width: 40px;
    height: 40px;
   margin: 10px 15px 30px 0;
    font-size: 25px;
    color: #0f100f;
    border: 2px solid black;
    
    border-radius: 50%;
    

}
.sci a:hover{
   background-color:   rgb(255, 21, 0);
   box-shadow: 0px 0px 20px 1px rgb(0, 255, 238);

}

.circle{

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #017143;

    clip-path: circle(600px at right 800px);

}